<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="user1" class="is.ru.honn.rutube.domain.User">
        <property name="userId">
            <value>65509522</value>
        </property>
        <property name="firstName">
            <value>Laura</value>
        </property>
        <property name="lastName">
            <value>Kenedy</value>
        </property>
        <property name="email">
            <value>lkenedy@usatoday.com</value>
        </property>
        <property name="displayName">
            <value>Bérangére</value>
        </property>
        <property name="birthdate">
            <value>2015-11-07</value>
        </property>
    </bean>
    <bean id="user2" class="is.ru.honn.rutube.domain.User">
        <property name="userId">
            <value>98406777</value>
        </property>
        <property name="firstName">
            <value>Jeremy</value>
        </property>
        <property name="lastName">
            <value>Cooper</value>
        </property>
        <property name="email">
            <value>jcooper1@whitehouse.gov</value>
        </property>
        <property name="displayName">
            <value>Kallisté</value>
        </property>
        <property name="birthdate">
            <value>2065-09-18</value>
        </property>
    </bean>
    <bean id="video1" class="is.ru.honn.rutube.domain.Video">
        <property name="videoId">
            <value>93074428</value>
        </property>
        <property name="Title">
            <value>Pulsa</value>
        </property>
        <property name="description">
            <value>How to eat a pulsa</value>
        </property>
        <property name="source">
            <value>www.pulsuhub.com</value>
        </property>
        <property name="type">
            <value>livestream</value>
        </property>
        <property name="tags">
            <list>
                <value>unhealthy</value>
                <value>onion</value>
            </list>
        </property>
    </bean>
</beans>